<ul class="pages-list">
{% for page in pages %}
    <li>
        . . .<a href="{{ url_for('page', path=page.path) }}">{{ page.title|lower_first }}</a>.
        {% with page=page  %}
            {% include "os_buttons.html" %}
        {% endwith %}
        {% if page.meta.tags|length %}
            <span class='tags muted'>
            <small>
            :: tags:
            {% for tag in page.meta.tags %}
                <a class='tag' href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>
                {% if not loop.last %}
                ,
                {% endif %}
            {% endfor %}
            </small>
            </span>
        {% endif %}
        {% if page.meta.updated %}
            <span class="date muted">
               :: <small>Updated {{ page.meta.updated|datetime_format }}</small>
            </span>

        {% endif %}
    </li>
{% else %}
    <li>No pages yet. Check back later and please <a href="{{ url_for('contribute') }}">contribute</a>!</li>
{% endfor %}
</ul>
