{% extends "_layouts/base.html" %}
{% block content %}

<div class="hero">
{% if request.path == url_for('home')  %}
    <h1 class="pure-u-1 brand">Kill The Yak</h1>
    <h2 class="pure-u-3-4 l-centered subtitle">No-BS guides to get your project rolling</h2>
</div><!-- end hero-->
{% else %}
<h1 class="pure-u-1 l-centered page-title">
    {% if not os and not tag %}
    All
    {% endif %}
    Guides {% if os %}for {{ os|capitalize }}{% elif tag %} tagged "{{ tag }}" {% endif %}
</div><!-- end hero-->

{% with oss=all_os  %}
    {% include "os_menu.html" %}
{% endwith %}

{% with tags=all_tags  %}
    {% include "tags_menu.html" %}
{% endwith %}

{% endif %}



<h2>All I want to do is. . .</h2>

{% with pages=pages, os_icons=os_icons %}
    {% include "_list.html" %}
{% endwith %}

{% if os or tag %}



<h2>
    {% if os %}
        in <a href="{{ url_for('os', os=os|lower) }}">{{ os|title }}</a>
    {% elif tag %}
        tagged <a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>
    {% endif %}.
<span class='clear-filter muted'>
    <a class='clear-filter' href="{{ url_for('guides') }}">
    <small>[clear filters]</small>
</a></span>

</h2>


{% endif %}
{% endblock content %}
