{% extends "_layouts/base.html" %}
{% if page.meta.description %}
{% block meta_description %}
    {{ page.meta.description }}
{% endblock meta_description %}
{% endif %}
{% block page_title %}
| {{ page.title }}
{% endblock page_title %}
{% block content %}
<article>
<h1 class='muted'>All I want to do is. . .</h1>
<h1 class='page-title'>. . .{{ page.title|lower_first }}.</h1>
{# OS info #}
{% if page.meta.os|length %}
    {% with oss=page.meta.os  %}
        {% include "os_menu.html" %}
    {% endwith %}
{% endif %}

{# Tags #}
{% if page.meta.tags|length %}
    {% with tags=page.meta.tags  %}
        {% include "tags_menu.html" %}
    {% endwith %}
{% endif %}
<br>

{{ page.meta.description }}

{% if page.meta.os|length or page.meta.deps|length or page.meta.updated %}
<hr>
{% endif %}

{# Contributors #}
{% if page.meta.contributors|length %}
<span class="contributors-list">
Contributors:
{% for contributor in page.meta.contributors %}
{{ contributor|github_urlize }}
{% if not loop.last %},&nbsp;{% endif %}
{% endfor %}
{% endif %}

{# Updated #}
{% if page.meta.updated %}
<span class='date date-updated'>Updated: {{ page.meta.updated|datetime_format }}</span>
{% endif %}


{# Deps info #}
{% if page.meta.deps|length %}
    <p>Do these first:</p>
    <ul class='deps-list'>
    {% for dep in deps %}
        <li>
            <div class="dep-container">
                <a class="dep-name" href="#">
                    {{ dep.title }}
                </a>

                <div class="dep-code-container">
                {{ dep.html|fenced_code }}
                </div>
                {% with page=dep  %}
                    {% include "os_buttons.html" %}
                {% endwith %}
                <a href="{{ url_for('page', path=dep.path) }}">&nbsp;[full instructions]</a>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% if page.meta.os|length or page.meta.deps|length %}
<hr>
{% endif %}
{# Page Content #}
{{ page }}
</article>

<div id="likeBtn"></div>


{# View raw #}
<p>Raw: <a href="{{ page|raw_page_url }}">{{ page.path ~ ".md" }}</a></p>

<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_reddit"></a>
<a class="addthis_button_hackernews"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_google_plusone_share"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51e268c25bf9bae5"></script>


</span>
{% if page.title|lower != "contribute" %}
<hr>
{% include "page_footer.html" %}
{% endif %}
{% endblock content %}
