<!doctype html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Kill The Yak
| My new page
</title>
  <meta name="description" content="Yak-shaving sucks. So let's kill the yak.">
  <meta name="author" content="">


  <link rel="stylesheet" href="/killtheyak/site/static/css/pure-min.css">
  <link rel="stylesheet" href="/killtheyak/site/pygments.css">

  
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="/killtheyak/site/static/css/style.css">
  

</head>
<body class="box">


<nav class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/killtheyak/site/" class="pure-menu-heading brand">Kill The Yak</a>
    <ul>
        <li><a href="/killtheyak/site/">home</a></li>
        <li><a href="/killtheyak/site/contribute/">contribute</a></li>
        <li><a href="http://www.github.com/sloria/killtheyak">source</a></li>
    </ul>
        <span class='tagline'><a href="http://projects.csail.mit.edu/gsb/old-archive/gsb-archive/gsb2000-02-11.html">Yak shaving</a> sucks. So let's kill the yak.</span>

</nav>

<header></header>

<div class="pure-g-r">

  <div class="content pure-u-1">
    
<article>
<h1 class='muted'>All I want to do is. . .</h1>
<h1 class='page-title'>My new page</h1>

This is the template page.


<hr>




<p class='date'>Updated: 2013-07-13<p>




    <p>OS:</p>
    <ul class="os-list">

    
    <li><a href="/killtheyak/site/os/macosx/">macosx</a></li>
    
    <li><a href="/killtheyak/site/os/windows/">windows</a></li>
    
    <li><a href="/killtheyak/site/os/linux/">linux</a></li>
    
    </ul>




    <p>Do these first:</p>
    <ul class='deps-list'>
    
        <li>
            <div class="dep-container">
                <a class="dep-name" href="#">
                    Dependency example
                </a>
                <a href="/killtheyak/site/example-dep/">&nbsp;[full instructions]</a>

                <div class="dep-code-container">
                <div class="codehilite"><pre><span class="c"># Content in fenced code blocks gets included on other pages</span>
<span class="c"># When they list this page as a dependency</span>
</pre></div>
                </div>
            </div>
        </li>
    
    </ul>


<hr>


<p>Write your content below.</p>
<div class="codehilite"><pre><span class="c"># Content goes here!</span>
</pre></div>
</article>

<hr>


<span class="contributors-list">
Contributors:

<a href="http://www.github.com/YOU">YOU</a>




</span>

<div class="suggestions">
<p class="">If you have suggestions, corrections, or content to contribute, fork us at our <a href="http://www.github.com/sloria/killtheyak">Github repo</a> or <a href="https://github.com/sloria/killtheyak/issues/new">open an issue</a>.</p>
</div>


  </div>

<footer>
    &copy; by <a href="http://www.stevenloria.com">Steven Loria</a> 2013
</footer>

</div><!-- end pure-g-r  -->


<!-- JavaScript at the bottom for fast page loading -->
<script src="/killtheyak/site/static/libs/jquery/jquery-2.0.3.min.js"></script>
<script src="/killtheyak/site/static/js/plugins.js"></script>
<script src="/killtheyak/site/static/js/script.js"></script>

<!-- end scripts -->
<!-- Google Analytics snippet. Change UA-XXXXXX-X to your site's ID -->
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>