/* Layout */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*.box {
    width: 900px;
    margin: 40px auto;
}
*/

#layout {
    padding-left: 20%;
    position: relative;
}

.content, .footer-content{
    margin: 0 0;
    width: 80%;
}


.hero {
    text-align: center;
    margin: 1.5em 0 3em;
}

.hero h1 {
    font-size: 3.3em;
    margin-bottom: 10px;
}

.hero .subtitle {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 1.4em;
    margin: 0.02em 0 0.8em;
    color: #cccccc;
}

span.date-updated {
    float: right;
}

.filters ul {
    list-style: none;
    display: inline-block;
}

li {
    padding-bottom: 5px;
}

/* Typography */

body .content {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0;
}


h1, h2, h3, h4, .hero .brand , .navtop .brand , .content .page-title {
    font-family: 'Gloria Hallelujah', cursive, serif;
    font-weight: normal;
}

textarea, code,
pre  {
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono',
               monospace!important;
    font-size: 15px;
}

pre {
    font-size: 1em;
    margin: 1em 1.2em;
}

.muted, i.muted {
    color: #999;
}

.pure-menu-heading.brand {
    text-transform: none;
}

.pure-menu.tag-menu, .pure-menu.os-menu {
    font-size: 70%;
}
.pure-menu.tag-menu a, .pure-menu.os-menu a {
    padding: 5px 8px;
    color: #113F8C;
}

.pure-menu.tag-menu a:hover, .pure-menu.os-menu a:hover {
    padding: 5px 8px;
    color: #D70060;
}

.date {
    font-style: italic;
}

.suggestions {
    margin-bottom: 60px;
    font-size: 80%;
    color: #777;
}

/* Fancy hr! */
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.pages-list {
    list-style: none;
}

.pages-list li {
    margin-bottom: 12px;
}

/* Links */

a {
    text-decoration: none;
    color: #113F8C;
}

a.tag{
    color: #113F8C;
}

a:hover,
a:focus
a.tag:hover{
    color: #D70060;
    text-decoration: underline;
}

a.brand:hover, a.dep-name:hover {
    color: #D70060;
    text-decoration: none;
}

.deps-list,
.os-list {
    color: #616161;
}

a.dep-name {
    color: #61AE24;
    border-bottom: 1px #777 dotted;
}

a.contribute {
    color: #61AE24;
}

a.contribute:hover {
    color: #D70060;
}

span a.clear-filter {
    font-size: 70%;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    border-bottom: 0px;
}

.header {
    margin: 50% 2em 0;
    text-align: right;
}

/* Buttons */
.os-button {
    font-size: 60%;
    border-radius: 4px;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
}

/* Nav */
nav .tagline {
    font-size: 80%;
    color: #cccccc;
    text-align: right;
    margin-left: 90px;
}

nav .tagline a {
    display: inline;
    padding: 0;
    color: #cccccc;
    /*border-bottom: 1px #777 dotted;*/
}

nav .tagline a:hover {
    color: #D70060;
    /*text-decoration: none;*/
}

/* Footer */
footer {
    padding: 15px 20px;
    font-size: 70%;
    text-align: right;
    letter-spacing: 0;
    color: #777;
}

.addthis_toolbox {
    float: right;
}
