<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kill The Yak{% block page_title %} | No-BS guides to get your project rolling{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}No-BS guides to get your project going{% endblock %}">
  <link type="text/plain" rel="author" href="/static/humans.txt" />
  <link href="{{ url_for('recent_feed') }}"
      rel="alternate"
      title="Kill The Yak: Recent Guides"
      type="application/atom+xml">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!--[if lt IE 9]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->
  <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
  {# Icons and fonts #}
  <link rel="stylesheet" href="{{ url_for('static', filename='icons/css/killtheyak-icons.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block css %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}


<div id="layout" class="{% block content_class %}pure-g{% endblock content_class %}">

{% include "_layouts/nav.html" %}

  <div class="pure-u-1">
    <div class="content">{% block content %}{% endblock %}</div>
  </div>

{% block footer %}{% endblock footer %}

</div><!-- end pure-g-r  -->

{# Javascript #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{# <script src="{{ url_for('static', filename='libs/jquery/jquery-2.0.3.min.js') }}"></script> #}
{# <script src="{{ url_for('static', filename='js/plugins.js') }}"></script> #}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<!-- end scripts -->

{# Google analytics #}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39544608-3', 'killtheyak.com');
  ga('send', 'pageview');

</script>
{% endblock %}
</body>
</html>
