<div class="pure-u">
<nav class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="{{ url_for('home') }}" class="pure-menu-heading brand">Kill The Yak</a>
    <ul>
        <li><a href="{{ url_for('guides') }}">guides</a></li>
        <li><a class='contribute' href="{{ url_for('contribute') }}">contribute</a></li>
        <li><a href="http://www.github.com/killtheyak/">source</a></li>
        <li><a href="{{ url_for('recent_feed') }}"><i class="icon-rss"></i></a></li>
    </ul>
        <span class='tagline'><a href="http://projects.csail.mit.edu/gsb/old-archive/gsb-archive/gsb2000-02-11.html">Yak shaving</a> sucks. So let's kill the yak.</span>

</nav>
</div>